<p>
    {% if json.msg.total_commits == 1 %}
    <a href="{{json.msg.repo.full_url}}/c/{{json.msg.end_commit}}">
    {% else %}
    <a href="{{json.msg.repo.full_url}}/c/{{json.msg.start_commit}}..{{json.msg.end_commit}}">
    {% endif %}
    <strong><span data-mx-bg-color="#28a745" data-mx-color="#ffffff" data-mx-bg-color="#3c6eb4">{{json.msg.agent}} pushed {{json.msg.total_commits}} commit(s)</span></strong>
    {% if json.msg.authors[0].name != json.msg.agent %}
    by {{json.msg.authors[0].name}}
    {% endif %}
    to <code>{{json.msg.branch}}</code> branch of <strong>{{json.msg.project_fullname}}</strong>
    <br/>
    </a>.
    The commit(s) changed {{json.msg.changed_files}}
    {% if len(json.msg.changed_files) < 1 %}
    NO files.
    {% elif len(json.msg.changed_files) > 4 %}
    {% len(json.msg.changed_files) %} files (too many to show).
    {% else %}
    {% len(json.msg.changed_files) %} files:<ul>
    {% for fname in sorted(json.msg.changed_files.keys()) %}
    <li>{{ fname }} - {{ json.msg.changed_files[fname] }}</li>
    {% endfor %}
    </ul>
    {% endif %}

</p>
